body {
  margin: 0;
}
.btn-login {
  background-color: #292a87; /* Azul oscuro */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.btn-login:hover {
  background-color: #004a8f; /* Azul más claro al pasar el mouse */
  transform: scale(1.05); /* Efecto de zoom */
}

.btn-login:active {
  transform: scale(0.95); /* Efecto de presión */
}

h1 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 48px;
}

p {
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  color: #333333;
}

.header {
  position: relative;
  text-align: center;
  background: linear-gradient(
    60deg,
    rgb(41, 17, 139) 0%,
    rgba(0, 172, 193, 1) 100%
  );
  color: white;
}

.inner-header {
  height: 65vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.button {
  display: inline-block;
  text-decoration: none;
  background: linear-gradient(135deg, #1e3a8a, #2563eb, #38bdf8); /* Degradado más prominente */
  color: white;
  font-size: 1em;
  padding: 10px 20px;
  border-radius: 30px;
  margin-top: 20px;
  transition: background 0.3s ease, transform 0.2s;
}

.button:hover {
  background: linear-gradient(135deg, #2563eb, #1e3a8a); /* Inversión de degradado al pasar el ratón */
  transform: scale(1.1);
}

.waves{
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
}
.content{
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: transparent;
}
.parallax> use{
  animation: move-forever 25s cubic-bezier(0.55,0.5,0.45,0.5)infinite;
}
.parallax > use:nth-child(1){
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2){
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3){
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4){
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever{
  0%{
    transform: translate3d(-90px,0,0);
  }
  100%{
    transform: translate3d(85px,0,0);
  }
}

@media(max-width:768px){
  .waves{
    height: 40px;
    min-height: 40px;
  }
  .content{
    height: 30vh;
  }
  h1{
    font-size: 24px;
  }
}