/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    text-align: center;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }
  
  p {
    color: #555;
    margin-bottom: 2rem;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  
  .card {
    background-color: #ececec;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    text-decoration: none;
    color: #333;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card i {
    color: #003d8c; /* Azul similar al de los iconos */
    margin-bottom: 0.5rem;
  }
  
  .card p {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
  }
  